{% extends 'all-photos/base.html' %} {% block content %}

    <div class="row">
        {% for image in images %}
        <div class="col-md-4">


            <img style=" margin-top: 20px; margin-bottom: 20px; width:350px; height:300px;" src="{{image.photo.url}}"
                class="img-thumbnail photo" alt="Image" data-toggle="modal" data-target="#{{image.id}}">
            <h5 class="uk-card-title">{{image.name}}</h5>

            <!-- Image Details modal -->
            <div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="imageTitle"
                aria-hidden="true">
                <div style="max-width:100%; max-height:100%; padding-top:100px;" class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-name" id="imageTitle">{{image.name|upper}}</h5>
                        </div>
                        <div class="modal-body">
                            <img src="{{image.photo.url}}" style="width:570px; height:500px;" alt="Image">
                            <br>
                            <p> Description: {{image.descripton}}</p>
                            <p> Location: {{image.location}}</p>
                            <p> Category: {{image.category}}</p>
                            <p> {{image.time_posted}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            {% endfor %}
        
    </div>


{% endblock %}