{% extends 'base.html' %} {% block content %} {{block.super}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <title>PhotoBooth Today</title>
</head>

<!--Styling -->
<style>
    p{
        font-family: 'Acme', sans-serif;
        text-align: center;
        font-size: 50px;
    }
</style>
<!--End of styling-->

<body>
    <p> Here Comes The Beast</p>
{% endblock %}
</body>
</html>
