{% extends 'base.html' %} {% block content %} 
{{block.super}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
  <title>PhotoBooth Today</title>
</head>

<!-- Styling -->
<style>
  p {
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 50px;
  }
</style>
<!-- End of styling -->

<body>
  <p> Here Comes The Hits of the day</p>
  <!-- Looping through news   -->
  {% for image in images %}
  <div class="row">
    <!-- displaying News articles -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img src="{{image.photo.url}}" class="img-responsive" width="100%" height="100%">
      <h2 class="uk-card-title">{{image.name|upper}}</h2>
      <p>{{image.location}}</p>
      <p>{{image.category}}</p>
      <p>{{image.description}}</p>
      <p>{{image.time_posted}}</p>
    </div>
  </div>
  {% endfor %}

  {% endblock %}
</body>

</html>